{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Us</h1>
          <span class="subheading">Group Leader Matt and his 4 goons: J dog, Twong, Shri, Kuchma</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
            Welcome to Showtime Slimes Sports, where passion, humor, and storytelling had a baby!
            We’re five  friends united by an unwavering love for everything besides baseball,
            from buzzer-beaters to underdog triumphs. What started as backyard
            debates and endless game recaps evolved into this blog—a place to
            share our takes with the world.
        </p>
        <p>
          Formerly known as the "Carl Club" we bring diverse perspectives, playful conversation, and genuine fandom to every post.
            Whether it’s analyzing stats, celebrating unsung heroes, or reliving epic moments,
            we’re here to ignite the sports conversation. Join us in turning passion into a
            community. Let’s talk sports!
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
